/*
 * Dice
 *
 *
 */

.dice {
	display: flex;
	flex-direction: column;

	.die {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-top: 10px;

		&.locked {
			.die-icon {
				opacity: 0.7;
			}
			.die-toggle {
				.fa-unlock {
					display: none;
				}
				.fa-lock {
					display: block;
				}
			}
		}

		.die-toggle {
			cursor: pointer;
			align-self: flex-end;
			margin-left: 12px;
			.fa-lock {
				display: none;
			}
		}

		.die-icon {
			background-repeat: no-repeat;
			background-size: contain;

			@for $i from 1 through 6 {
				&.d#{$i} {
					background-image: url('../img/die#{$i}.png');
					height: 60px;
					width: 60px;
				}
			}
		}
	}
}

.roll-badge {
	margin-left: 5px;
	width: 46px;
}
